$font-family-serif: 'PT Serif', serif;
$font-family-sans: "bebas-neue", sans-serif;
$black: #37384C;
$white: #fff;
$pink: #FF4195;
$cream-blue-dark: #EDF0FF;
$cream-yellow: #FAFBF5;
$cream-pink: #FFFCFD;
$cream-blue: #EAEAF3;

$red: #ef4642;