// Mixin and Variables styles
@mixin font-smoothing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'noe';
  src: url('Noe Display Medium.eot'); /* IE9 Compat Modes */
  src: url('Noe Display Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Noe Display Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('Noe Display Medium.woff') format('woff'); /* Pretty Modern Browsers */
}

@mixin text-small-caps {
  text-transform: uppercase;
  letter-spacing: 0.8px;
}


// Typefaces
$font-family-serif: 'Noe', serif;
$font-family-sans: "Graphik", sans-serif;

// Colors
$black: #000;
$white: #fff;
$grey-100: #f8f8f8;
$grey-200: #f1f1f1;
$grey-500: #939499;

