// COLOR VARIABLES

$white: #fff;

$black: #000;

$grey-100: #f5f7fc;
$grey-300: #8a8d92;
$grey-400: #58595b;
$grey-900: #24232b;

$pink-500: #ff2266;

$yellow-500: #ead61c;

$purple-300: #AB74FF;
$purple-500: #6B15EC;
$purple-600: #6600FF;