footer {
  .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  ul {
    text-align: center;
    li {
      display: inline-block;
      margin-right: 40px;
      margin-bottom: 20px;
      h5 {
        display: inline;
        a {
          color: $purple-300;
          &:hover {
            color: $purple-500;
            text-decoration: none;
          }
        }
      }
    }
  }
  img {
    position: absolute;
    bottom: -43px;
    width: 130px;
  }

  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {
  }

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {
      ul {
      text-align: left;
      li {
        margin-top: 0px;
      }
    }
  }


  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {

  }

  /* Large devices (large desktops, 1400px and up) */
  @media (min-width: 1400px) {
  }
}