header {
  background: $grey-100;
  .header-logo {
    a .logo-circle {
      background: $white;
      border-radius: 50%;
      display: block;
      height: 50px;
      text-align: center;
      width: 50px;
      svg#logo-n {
        margin: 10px auto;
        width: 30px;
        path {
          fill: $grey-400;
        }
      }
      &:hover {
        svg#logo-n {
          path {
            fill: $pink-500;
          }
        }
      } 
    }
  }
  .header-nav {
    text-align: right;
    ul {
      li {
        display: inline;
        margin-left: 40px;
        h5 {
          display: inline;
        }
        a {
          opacity: 0.6;
          &:hover {
            opacity: 1;
            text-decoration: none;
          }
        }
      }
    }
  }
}