@import 'variables';
@import 'helpers';


html {
	border: 7px solid $black;
	font-family: $font-family-sans;
}

.container {
	width: 90%;
	max-width: 1700px;
	padding: 10px;
}

.btn {
	border: 2px solid $black;
  padding: 8px 18px 5px 18px;
	text-transform: uppercase;
	font-family: $font-family-sans;
	border-radius: 0;
	margin-top: 25px;
	letter-spacing: 0.6px;
}

.title-divider {
	display: block;
	height: 50px;
	.divider {
		height: 1px;
		background-color: $black;
		width: 40px;
	}
	h3,
	.divider,
	.question-mark,
	p {
		float: left;
		margin-right: 13px;
	}
	h3 {
		font-family: $font-family-serif;
	}
	.divider {
		margin-top: 17px;
	}
	p {
		margin-top: 5px;
	}
	.question-mark {
		font-family: $font-family-serif;
		border: 1px solid $black;
		border-radius: 50%;
		height: 30px;
		width: 30px;
	}
}


// Element Styles
#portfolio {
	header {
		text-align: center;
		h3 {
			display: inline-block;
			margin-right: 10px;
			font-size: 17px;
			font-family: $font-family-sans;
			font-weight: 400;
			letter-spacing: 0.3px;
			line-height: 35px;
			&:last-child {
				margin-right: 0;
			}
			a.active {
				border-bottom: 2px solid $black;
			}
		}
		.about-link {
			height: 30px;
			width: 30px;
			border: 2px solid $black;
			border-radius: 50%;
			float: right;
			a {
				line-height: 27px;
			}
		}
		&.dark {
			background: $black;
			a {
				color: $white;
				&.active {
					border-bottom: 2px solid $white;
				}	
			}
		}
	}
	#intro {
		height: 350px;
		h1 {
			font-size: 37px;
			line-height: 44px;
		}
	}
	#work {
		padding-bottom: 60px;
		img {
			margin-bottom: 15px;
		}
	}
}
footer {
	ul {
		li {
			display: inline-block;
			margin-right: 10px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
#about {
	background: $black;
}

/* In between XSmall & Small devices (phones & tablets, 480px and up) */
@media (min-width: 480px) {

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.container {
		width: 90%;
		max-width: 1700px;
		padding: 45px;
	}
}

@media (min-width: 1000px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

