html {
  background: $grey-100;
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 1500px;
}

.divider-lrg {
  background: white;
  height: 1px;
  margin: 20px auto;
  opacity: 0.1;
  width: 100%;
}

#portfolio {
  section#intro {
    background: $grey-100;
    h1 {
      color: $purple-600;
      font-size: 35px;
      line-height: 47px;
      a {
        color: $purple-500;
        text-decoration: underline;
      }
    }
  }
  section#work {
    background: $grey-100;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.07);
    ul {
      li {
        margin-bottom: 25px;
        a {
          h2 {
            color: $black;
          }
          &:hover {
            text-decoration: none;
          }
        }
        &:hover {
          opacity: .7;
        }
      }
    }
  }

    /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {
  }

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .container {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .divider-lrg {
      background: white;
      height: 1px;
      margin: 50px auto;
      opacity: 0.1;
      width: 100%;
    }
    section#work {
      ul {
        li {
          margin-bottom: 50px;
        }
      }
    } 
  }

  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
  }

  /* Large devices (large desktops, 1400px and up) */
  @media (min-width: 1400px) {
  }

}