@import url(reset.css);
@import url("//hello.myfonts.net/count/314268");
@font-face {
  font-family: 'noe';
  src: url("Noe Display Medium.eot");
  /* IE9 Compat Modes */
  src: url("Noe Display Medium.eot?#iefix") format("embedded-opentype"), url("Noe Display Medium.woff2") format("woff2"), url("Noe Display Medium.woff") format("woff");
  /* Pretty Modern Browsers */ }
@font-face {
  font-family: 'NeueHaasUnicaPro-Regular';
  src: url("314268_0_0.eot");
  src: url("314268_0_0.eot?#iefix") format("embedded-opentype"), url("314268_0_0.woff2") format("woff2"), url("314268_0_0.woff") format("woff"), url("314268_0_0.ttf") format("truetype"); }
@-webkit-keyframes colorPulse {
  0% {
    background-color: #FAFBF5; }
  50% {
    background-color: #FFFCFD; }
  100% {
    background-color: #EAEAF3; } }
::selection {
  background: #EDF0FF;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: #EDF0FF;
  /* Gecko Browsers */ }

#portfolio {
  background-color: #fff;
  color: #37384C;
  font-family: "NeueHaasUnicaPro-Regular", Helvetica, Arial, Sans-serif;
  text-rendering: optimizeLegibility; }
  #portfolio h1 {
    font-size: 30px;
    font-family: "Noe", Verdana, Serif;
    margin: 0px auto 20px;
    letter-spacing: 0.3px;
    line-height: 35px; }
  #portfolio p {
    font-family: "NeueHaasUnicaPro-Regular", Helvetica, Arial, Sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.24px;
    line-height: 26px;
    margin-bottom: 10px; }
  #portfolio a {
    border-bottom: 1px solid #FF4195;
    display: inline;
    color: #37384C;
    line-height: 22px; }
    #portfolio a:hover {
      color: #FF4195;
      text-decoration: none; }
    #portfolio a:active, #portfolio a:visited, #portfolio a:focus {
      color: #37384C;
      text-decoration: none; }
  #portfolio .container {
    margin: auto;
    max-width: 1000px;
    padding: 40px 0px;
    width: 90%; }
  #portfolio #main {
    -webkit-animation: colorPulse 10s infinite alternate;
    align-items: center;
    background-color: #FAFBF5;
    display: flex;
    justify-content: center; }
  #portfolio #footer {
    background: #fff;
    align-items: center;
    display: flex;
    height: 13vh;
    justify-content: center; }
    #portfolio #footer p,
    #portfolio #footer li {
      font-size: 14px; }
    #portfolio #footer ul {
      text-align: left; }
      #portfolio #footer ul li {
        display: inline;
        margin-right: 30px; }
        #portfolio #footer ul li.copyright {
          display: block;
          opacity: 0.4;
          margin-top: 15px; }
        #portfolio #footer ul li a {
          color: #37384C;
          border-bottom: none; }

/* In between XSmall & Small devices (phones & tablets, 480px and up) */
@media (min-width: 480px) {
  #portfolio #footer ul li.copyright {
    display: inline;
    margin-top: 0; } }
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #portfolio a {
    display: inline-block; }
  #portfolio .container {
    width: 80%;
    max-width: 1000px;
    padding: 0px; }
  #portfolio #main {
    height: 87vh; }
    #portfolio #main .main-text-wrapper {
      margin-top: -25px; }
      #portfolio #main .main-text-wrapper h1 {
        font-size: 50px;
        line-height: 57px; } }
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */

/*# sourceMappingURL=style.css.map */
