@import 'variables';

h1 {
	font-size: 28px;
	font-family: $font-family-serif;
	line-height: 37px;
}

h2 {
	font-size: 24px;
	font-family: $font-family-serif;
	line-height: 37px;
}

h3 {
	font-size: 17px;
	font-family: $font-family-sans;
	font-weight: 400;
	letter-spacing: 0.3px;
	line-height: 35px;
}

h4 {
	color: $red;
	font-family: $font-family-sans;
	font-weight: 200;
	font-size: 22px;
	letter-spacing: 1.5px;
}

p {
	font-family: $font-family-sans;
	font-size: 15px;
	font-weight: 400;
	line-height: 25px;
	&.text-strong {
		font-size: 18px;
		line-height: 27px;
		font-weight: 700;
	}
}

a {
	color: $black;
	display: inline;
	line-height: 22px;
	padding: 4px;
	&:hover {
		border-bottom: 2px solid black;
		text-decoration: none;
	}
	&:active, &:visited, &:focus {
		color: $black;
		text-decoration: none;
	}
}