@import 'variables';
@import 'helpers';


h1 {
	@include font-smoothing;
	font-size: 20px;
	font-family: $font-family-serif;
	line-height: 27px;
}

h2 {
	@include font-smoothing;
	font-size: 30px;
	font-family: $font-family-serif;
	line-height: 37px;
}

h3 {
	@include font-smoothing;
	font-size: 24px;
	font-family: $font-family-sans;
	font-weight: 500;
	line-height: 35px;
}

h4 {
	@include font-smoothing;
	font-size: 20px;
	font-family: $font-family-sans;
	font-weight: 500;
	line-height: 33px;
}

h5 {
	@include font-smoothing;
	font-size: 12px;
	font-family: $font-family-sans;
	font-weight: 500;
	line-height: 28px;
}

h6 {
	@include font-smoothing;
	font-size: 15px;
	font-family: $font-family-sans;
	font-weight: 500;
	line-height: 24px;
}

p {
	@include font-smoothing;
	font-family: $font-family-sans;
	font-size: 15px;
	line-height: 25px;
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: underline;
			border-bottom: none;
		}
	}
	& + p {
		padding-top: 5px;
	}
}

a {
	color: $black;
	display: inline;
	line-height: 22px;
	&:hover {
		color: $black;
		text-decoration: none;
	}
	&:active, &:visited, &:focus {
		color: $black;
		text-decoration: none;
	}
}

@media (min-width: 1000px) {
	h1 {
		font-size: 31px;
		line-height: 44px;
	}
	h5 {
		font-size: 18px;
	}
}