// TYPOGRAPHY VARIABLES

// Font family variables
$font-family-bitter: 'Publico Text', 'Georgia', 'Serif';
$font-family-source-sans: 'Source Sans Pro', 'Helvetica', 'Arial', 'Sans Serif';

// Font style mixins
@mixin smallcaps {
  font-family: $font-family-source-sans;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

// Font size styles
h1 {
  font-family: $font-family-bitter;
  font-size: 23px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 10px;
  margin-top: 10px;
}

h2 {
  font-family: $font-family-bitter;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 3px;
}

h3 {
  font-family: $font-family-source-sans;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 25px;
  margin-bottom: 3px;
}

h4 {
  @include smallcaps;
  color: $grey-400;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

h5 {
  @include smallcaps;
  color: $grey-400;
  font-size: 14px;  
  font-weight: 600;
  margin-bottom: 10px;
}

h6 {
  @include smallcaps;
  color: $grey-400;
  font-size: 13px;
  font-weight: 600;
}

p {
  color: $grey-400;
  font-family: $font-family-source-sans;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1px;
}

    /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {
  }

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    h1 {
      font-size: 25px;
      line-height: 35px;
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }

  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
  }

  /* Large devices (large desktops, 1400px and up) */
  @media (min-width: 1400px) {
  }