@import 'variables';
@import 'helpers';

section.work-intro {
	.work-img-intro {
		height: 500px;
		background: grey;
	}
	p {
		line-height: 26px;
	}
}

section.web-carousel {
	background: $black;
	color: $white;
	overflow: hidden;
	.intro {
		margin-bottom: 20px;
	}
	.work-section {
		h5 {
			color: $white;
		}
		img.image-web {
			width: 250px;
			margin: 10px 20px 20px 20px;
		}
		.slick-slide {
			&:hover {
				cursor: pointer;
			}
			&:focus {
				outline: transparent;
			}
		}
		.slick-dots {
			bottom: 21px;
			z-index: 4;
			li {
				button:before {
					color: $white;
				}
			}
		}
	}
}


/* In between XSmall & Small devices (phones & tablets, 480px and up) */
@media (min-width: 480px) {

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

@media (min-width: 1000px) {
	section.web-carousel {
		.container {
			padding-left: 0;
			padding-right: 0;
		}
		.intro {
			padding: 40px 0px 90px 0px;
		}
		.work-section {
			img.image-web {
				width: 600px;
				margin: 20px 30px 30px 30px;
			}
		}
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
