@import 'variables';
@import 'helpers';

section.work-intro {
	.work-img-intro {
		height: 500px;
		background: grey;
	}
	p {
		line-height: 26px;
	}
}

.commercial-wrapper {
	position: relative;
	button {
		background: $white;
    height: 84px;
    width: 84px;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 50%;
    margin-top: -42px;
    left: 50%;
    margin-left: -42px;
    .play-btn {
	    margin: 0 auto;
	    top: 25%;
	    position: relative;
	    width: 0;
	    height: 0;
	    border-style: solid;
	    border-width: 14px 0 14px 23px;
	    border-color: transparent transparent transparent $black;
    }
	}
}

section.web-carousel {
	background: $black;
	color: $white;
	overflow: hidden;
	.container {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}
	.intro {
		margin-bottom: 20px;
	}
	.work-section {
		h5 {
			color: $white;
		}
		p a {
			color: $white;
		}
		img.image-web {
			width: 140px;
			margin: 10px 20px 20px 20px;
		}
		.slick-slide {
			&:hover {
				cursor: pointer;
			}
			&:focus {
				outline: transparent;
			}
		}
		.slick-dots {
			bottom: 21px;
			z-index: 4;
			li {
				button:before {
					color: $white;
				}
			}
		}
	}
}


/* In between XSmall & Small devices (phones & tablets, 480px and up) */
@media (min-width: 480px) {

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

@media (min-width: 1000px) {
	section.web-carousel {
		.container {
			padding-left: 0;
			padding-right: 0;
		}
		.intro {
			padding: 40px 0px 90px 0px;
		}
		.work-section {
			img.image-web {
				width: 600px;
				margin: 20px 30px 30px 30px;
			}
		}
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
